<a href="https://colab.research.google.com/github/kokilasri/Car-Dataset---Data-Analysis-with-python/blob/main/Car_Dataset_Data_Analysis_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd
car = pd.read_csv("Cars Data.csv")

In [36]:
car

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[432 rows x 15 columns]

In [37]:
car.head()

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0
2  Acura         TSX 4dr  Sedan   Asia  ...        29.0  3230.0     105.0   183.0
3  Acura          TL 4dr  Sedan   Asia  ...        28.0  3575.0     108.0   186.0
4  Acura      3.5 RL 4dr  Sedan   Asia  ...        24.0  3880.0     115.0   197.0

[5 rows x 15 columns]

In [38]:
car.shape

(432, 15)

#1) Data Cleaning

Find all the null values in the dataset.
If there is any null value in the column(integer), fill it with the mean of that column

In [50]:
car.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [51]:
car['Cylinders'].fillna(car['Cylinders'].mean(), inplace=True)



car['EngineSize'].fillna(car['EngineSize'].mean(), inplace=True)
car['Horsepower'].fillna(car['Horsepower'].mean(), inplace=True)
car['MPG_City'].fillna(car['MPG_City'].mean(), inplace=True)
car['MPG_Highway'].fillna(car['MPG_Highway'].mean(), inplace=True)
car['Weight'].fillna(car['Weight'].mean(), inplace=True)
car['Wheelbase'].fillna(car['Wheelbase'].mean(), inplace=True)
car['Length'].fillna(car['Length'].mean(), inplace=True)

In [52]:
car.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [53]:
car['Cylinders'].isnull().sum()

0

In [54]:
car.fillna('Empty', inplace=True)

In [55]:
car.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

#2) Check out 

a) now many different types of 'Make' in the dataset
b)What is the count of occurances of each value in the 'Make' Column

In [56]:
car['Make'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Nissan           17
Honda            17
Chrysler         15
Volkswagen       15
Dodge            13
Mitsubishi       13
Hyundai          12
Volvo            12
Jaguar           12
Kia              11
Lexus            11
Mazda            11
Subaru           11
Pontiac          11
Buick             9
Mercury           9
Lincoln           9
Cadillac          8
Suzuki            8
Saturn            8
GMC               8
Infiniti          8
Saab              7
Porsche           7
Acura             7
Empty             4
Oldsmobile        3
Land Rover        3
Jeep              3
Scion             2
Isuzu             2
MINI              2
Hummer            1
Name: Make, dtype: int64

#3) Filtering
Show all the records where origin is Asia or Europe

In [57]:
car.head(2)

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0

[2 rows x 15 columns]

In [59]:
#using basic filtering method
car[(car['Origin'] == 'Asia') | (car['Origin'] == 'Europe')]

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[281 rows x 15 columns]

In [61]:
# using is in function
car[car['Origin'].isin(['Asia', 'Europe'])]

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[281 rows x 15 columns]

#4) Remove all the unwanted records

Remove all the records(rows) where weight is above 4000

In [62]:
car.head(2)

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0

[2 rows x 15 columns]

In [64]:
car[~(car['Weight'] > 4000)]

      Make                    Model   Type  ...  Weight Wheelbase Length
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
5    Acura  3.5 RL w/Navigation 4dr  Sedan  ...  3893.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[329 rows x 15 columns]

#5) Applying a function on a column

Increase all the values of 'MPG_City' column by 3

In [66]:
car['MPG_City'] = car['MPG_City'].apply(lambda x: x+3)

In [67]:
car

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[432 rows x 15 columns]